.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  text-align: center;
  border: 5px;
  border-color: gray;
}
button {
  background-color: black;
  color: white;
  width: 100%;
  border: 0;
  padding: 3px;
  cursor: pointer;
}